/* Google Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* lenis smooth scroll  */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --background-color-dark: #f9f9f9;
  --background-color-light: #fff;
  --link-color: #2d2e32;
  --link-color-hover: #2ec4b6;
  --link-weight: 600;
  --link-size: 1rem;
  --max-width: 1024px;
  --heading-weight: 700;
  --text-color: #111;
  --text-color-light: #727272;
  --h1: 2rem;
  --h2: 1.3rem;
}

/* reusable classes */

.h1 {
  font-size: var(--h1);
  font-weight: var(--heading-weight);
}

.h2 {
  font-size: var(--h2);
  font-weight: var(--heading-weight);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  gap: 10px;
  background-color: var(--link-color);
  color: var(--background-color-light);
  padding: 0.635rem 1.3rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--link-color-hover);
}

.button span {
  font-weight: 500;
}

.button i {
  font-size: 1.2rem;
  font-weight: 300;
}

/* link styles  */

.header-nav-link,
.link {
  color: var(--link-color);
  font-weight: var(--link-weight);
  font-size: var(--link-size);
  transition: all 0.4s ease-in-out;
  gap: 3px;
}

.nav-link {
  font-size: 1.5rem;
  color: var(--link-color);
  font-weight: var(--link-weight);
  transition: all 0.4s ease;
  gap: 0.5rem;
}

.nav-link i {
  font-size: 1.5rem;
}

.nav-link:hover,
.header-nav-link:hover {
  color: var(--link-color-hover);
}

.logo {
  font-weight: 800;
  font-size: 1.35rem;
  color: var(--link-color);
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: var(--background-color-dark);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* mobile navigation  */

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transform: translate(-100%);
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--background-color-light);
  z-index: 100;
  width: 100%;
  height: 100vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease;
}

.nav-list {
  flex-direction: column;
  gap: 3rem;
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 25px;
  right: 50px;
}

.close-button i,
.header .nav-toggle i {
  font-size: 2.2rem;
}

.nav-toggle {
  display: block;
}

/* header  */

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 40px 25px 50px;
  background-color: var(--background-color-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header-nav-link {
  color: var(--link-color);
  font-size: 1rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle i {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .header-nav-list {
    display: none;
  }
}

/* hero styling  */

.hero {
  padding-top: 10rem;
}

.hero-section {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-title {
  display: block;
  line-height: 0.8;
}

.hero-title span {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--link-color);
}

.hero-title img {
  width: 3.5rem;
}

.hero-description {
  font-size: 1.1rem;
  color: var(--text-color-light);
}

.social-icons svg {
  transition: stroke 0.2s ease;
}

.social-icons svg:hover {
  stroke: var(--link-color-hover);
}

.img-section {
  width: 25rem;
  height: 310px;
}

.img-section img {
  background-color: #b3b0a8;
  animation: morph 8s ease-in-out infinite;
  object-fit: cover;
  object-position: right;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
  height: 100%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.skills {
  margin: auto;
  max-width: 50rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.skill-title {
  color: var(--text-color);
  font-weight: var(--link-weight);
}

.skill-icon {
  margin-right: 0.5rem;
  height: 3rem;
  transition: all 0.3s ease-in-out;
  width: 3rem;
}

.skill-icon:hover {
  transform: translateY(-10px);
}

/* hero styling for small screens  */

@media screen and (max-width: 870px) {
  .hero-section {
    max-width: 30rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .img-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-box {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .skills {
    justify-content: center;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-section {
    max-width: 20rem;
  }

  .skill-icon {
    margin-right: 0.5rem;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
    width: 2.5rem;
  }
}

@media screen and (max-width: 375px) {
  .left-box {
    justify-content: center;
  }

  .img-section {
    width: 15rem;
    height: 285px;
  }

  .hero-title span {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 0.8rem;
    max-width: 300px;
    text-align: center;
  }
}

/* ABOUT  */

/* styling about for larger screens */
.about {
  background-color: var(--background-color-light);
  width: 100%;
  padding: 8rem 1rem;
  gap: 5rem;
}

.about-content {
  max-width: 30rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.about-heading {
  color: var(--link-color-hover);
}

.about-description {
  color: var(--text-color-light);
  font-size: 0.9rem;
}

.about-image {
  border-radius: 1.7rem;
  height: 20rem;
  width: 25rem;
}

/* styling about for smaller screens  */

@media screen and (max-width: 860px) {
  .about {
    flex-direction: column;
    gap: 1rem;
  }

  .about-content {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .about-image {
    height: 15rem;
    width: 20rem;
  }
}

@media screen and (max-width: 330px) {
  .about-image {
    height: 12rem;
    width: 16rem;
  }
}

/* styling project section  */

.project {
  padding: 7rem 0;
}

.project h2 {
  text-align: center;
  width: 20rem;
}

/* styling contact section  */

.contact {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--background-color-light);
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-content .h2 {
  color: var(--link-color-hover);
  padding-left: 5rem;
}

.cc-description {
  font-size: 1.5rem;
  padding-left: 5rem;
  font-weight: var(--heading-weight);
}

.contact-items {
  padding: 4rem 0;
  display: flex;
  gap: 10rem;
  padding-left: 5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--background-color-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.contact-icon svg {
  stroke: var(--link-color-hover);
}

.contact-description {
  color: var(--text-color-light);
}

/* Styling contact section for smaller screens  */

@media screen and (max-width: 860px) {
  .contact-content {
    justify-content: center;
    align-items: center;
  }

  .contact-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-left: 0;
  }

  .contact-item {
    flex-direction: column;
    text-align: center;
  }

  .contact-content .h2 {
    margin-bottom: 1rem;
    padding-left: 0;
  }

  .cc-description {
    padding-left: 0;
    text-align: center;
  }
}

/* FOOTER  */

/* styling footer for large screens  */

.footer {
  background-color: var(--text-color);
  color: var(--background-color-light);
  padding: 2rem 3rem;
  justify-content: space-between;
  margin: auto;
}

.footer-content {
  text-align: center;
}

.footer svg {
  margin-right: 0.5rem;
  stroke: var(--background-color-light);
  transition: all 0.3s ease;
}

.footer svg:hover {
  transform: scale(1.2);
}

/* styling footer for smaller screeens  */

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
}
